.box {
    border: none;
    box-shadow: 0px 7px 15px 0px rgba(170, 170, 170, 0.7);
    background: white;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
}

.green {
    background: #007e02;
    color: white;
}

.blue {
    background: #21257d;
    color: white;
}

.text {
    user-select: none;
    font-family: 'pretendard';
    font-weight: 500;
    font-size: 1rem;
    margin: 0.75rem;
    color: white;
}