@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f4f4f4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1023px;
  margin: auto;
  overflow: hidden;
}

/* 태블릿 가로까지 */
@media all and (max-width: 1023px) {
  .container {
    width: 100%;
  }
}

/* 스마트폰 가로까지 */
/*@media all and (max-width: 767px) {*/
/*  .container {*/
/*    width: 100%;*/
/*  }*/
/*}*/
