.bottom_navigation {
  position: fixed;
  bottom: 0;
  width: 1023px;
  background: white;
  height: 60px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.menu {
  flex: 5; // 메뉴 갯수: 5개 => 5
  display: flex;
  justify-content: center;
  align-content: center;
  height: 60px;
}

.menu_box {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.menu_active {
  background: #f4f4f4;
}

.menu_center {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.menu_icon {
  height: 20px;
  font-size: 1.35rem;
  //margin-top: 5px;
}

.menu_name {
  font-family: "pretendard";
  //background: blue;
  font-weight: 500;
  font-size: 0.65rem;
  color: #9b9b9b;
  margin-top: 4px;
}

/* 태블릿 가로까지 */
@media all and (max-width: 1023px) {
  .bottom_navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 80px;
  }
}
